.DS_Store
thumbs.db
node_modules/
.idea/
.vscode

# Built files
dist
dist-renderer-webpack
dist-library-files
dist-extensions
src-renderer/packager/standalone.html

# Debian release scripts create files that shouldn't be committed
deb

# Mac App Store
distribution.provisionprofile
development.provisionprofile

# Apple App Store Connect API key
*.p8
