body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

main {
  margin: 4px;
}

.addon-container {

}

.addon {
  padding-bottom: 10px;
}

.addon-title {
  font-weight: bold;
}

.credits {

}

.description {

}

.setting-container {
  margin-left: 20px;
}

.setting {

}

.notice {

}

.notice-container {

}

.dirty {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 2px;
  border-bottom: 1px solid black;
}
