body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

main {
  margin: 4px;
}

.addon-container {

}

.addon {
  padding-bottom: 10px;
}

.addon-title {
  font-weight: bold;
}

.addon-credits {

}

.setting-container {
  margin-left: 20px;
}

.setting {

}
