body {
  background-color: white;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.addon-container {

}

.addon {
  background: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 4px;
}

.addon-dirty {
  background: #ffeedf;
}

.addon-title-container {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
  min-height: 24px;
}

.addon-title {
  font-weight: bold;
  display: flex;
  align-items: baseline;
}

.addon-title-text {

}

.addon-operations {

}

.tag {
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  margin-left: 10px;
  border-bottom: 2px solid #111;
}

.tag-recommended {
  color: white;
  background: #175ef8;
  border-color: #0e44b8;
}

.tag-beta {
  color: white;
  background: #fd662b;
  border-color: #d84a12;
}

.tag-easter-egg {
  color: black;
  background: #b9f38d;
  border-color: #8fce5e;
}

.tag-turbowarp {
  color: white;
  background: #ff4c4c;
  border-color: rgb(185, 38, 38);
}

.credit-container {

}

.credit {

}

.description {

}

.setting-container {
  margin-left: 20px;
  column-width: 300px;
}

.setting {

}

.notice-container {

}

.notice {

}

.presets {

}

.reset-button {

}

.reset-all-button {

}

.search {

}

.no-results {
  text-align: center;
  font-style: italic;
}

.dirty-outer {
  display: flex;
  position: fixed;
  top: 8px;
  left: 0;
  width: 100%;
  justify-content: center;
  animation: dirty-appear 0.2s ease;
  pointer-events: none;
}

.dirty-inner {
  padding: 20px;
  background: #ffeedf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  pointer-events: auto;
}

.dirty-button {
  margin-left: 4px;
}

@keyframes dirty-appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
