body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

main {
  padding: 4px;
}

.addon-container {

}

.addon {
  background: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 4px;
}

.addon-title {
  font-weight: bold;
}

.credits {

}

.description {

}

.setting-container {
  margin-left: 20px;
  column-width: 300px;
}

.setting {

}

.notice-container {

}

.notice {

}

.side {
  float: right;
}

.presets {

}

.reset-button {

}

.reset-all-button {

}

.dirty-outer {
  display: flex;
  position: fixed;
  top: 8px;
  left: 0;
  width: 100%;
  justify-content: center;
  animation: dirty-appear 0.2s ease;
  pointer-events: none;
}

.dirty-inner {
  padding: 20px;
  background: #ffeedf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  pointer-events: auto;
}

.dirty-button {
  margin-left: 4px;
}

@keyframes dirty-appear {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
