[Desktop Entry]
Name=TurboWarp
# Change the path to match where you install the app.
Exec=/opt/TurboWarp/turbowarp-desktop %U
Terminal=false
Type=Application
Icon=org.turbowarp.TurboWarp
StartupWMClass=turbowarp-desktop
Comment=TurboWarp is a Scratch mod with a compiler to run projects faster, dark mode for your eyes, a bunch of addons to improve the editor, and more.
MimeType=application/x.scratch.sb3;application/x.scratch.sb2;application/x.scratch.sb;
Categories=Development;
Keywords=scratch;
