body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: hsla(0, 100%, 65%, 1);
}
main {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 20px;
}
