/* body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
main {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  border: 20px solid hsla(0, 100%, 65%, 1);
}
pre {
  font-size: 0.8em;
  overflow-x: hidden;
} */
