/* Goal is to look somewhat consistent with the scratch-gui modals */

.outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: var(--ui-modal-overlay);
  margin: auto;
}

.inner {
  width: 360px;
  margin: 100px auto 0 auto;
  background-color: var(--ui-modal-background);
  color: var(--ui-modal-foreground);
  border-radius: 0.5rem;
  /* use box-shadow instead of border so the background color won't break the border's transparency */
  box-shadow: 0 0 0 4px var(--ui-white-transparent);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 2.25rem;
  box-sizing: border-box;
}

.label {

}

.input {
  width: 100%;
  border: 1px solid var(--ui-black-transparent);
  background-color: var(--input-background);
  color: var(--text-primary);
  border-radius: 0.25rem;
  padding: 0 1rem;
  height: 3rem;
  font: inherit;
  box-sizing: border-box;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}
.button-row button {
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--ui-black-transparent);
  cursor: pointer;
}
.ok-button {
  background-color: var(--looks-secondary);
  color: #ffffff;
}
.cancel-button {
  background-color: #ffffff;
  color: #000000;
}
