name: Publish to Winget

on:
  release:
    types: [released]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: vedantmgoyal9/winget-releaser@19e706d4c9121098010096f9c495a70a7518b30f
        with:
          identifier: GarboMuffin.TurboWarp
          installers-regex: 'TurboWarp-Setup-[\d.]+-\w+\.exe$'
          token: ${{ secrets.WINGET_TOKEN }}
